<h1 class="mt-3">Pipes <small>Angular</small></h1>
<div class="class row">
    <div class="class col">
        <table class="class table">
            <thead class="class thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Output</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ name }}</td>
                    <td><code>uppercase</code></td>
                    <td><code>{{ name | uppercase }}</code></td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td><code>lowercase</code></td>
                    <td><code>{{ name | lowercase }}</code></td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td><code>slice:3</code></td>
                    <td><code>{{ name | slice:3 }}</code></td>
                </tr>
                <tr>
                    <td>{{ name }}</td>
                    <td><code>slice:0:3</code></td>
                    <td><code>{{ name | slice:0:3 }}</code></td>
                </tr>
                <tr>
                    <td>{{ array }}</td>
                    <td><code>slice:1:5</code></td>
                    <td><code>{{ array | slice:1:5 }}</code></td>
                </tr>
            </tbody>
        </table>
        <!-- <h4>
            <ul>
                @for(item of array; track item){
                <li>{{ item.toString()| slice: 5:20 }}</li>
                }

            </ul>
        </h4> -->

    </div>
</div>